SQL Queries

1. What is the total revenue generated by VIP/Non-VIP guests?

In [3]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('hmart.db')

# Create a cursor
cursor = conn.cursor()

# Execute the SQL query
cursor.execute("""
    SELECT g.VIPStatus, SUM(f.Revenue) AS TotalRevenue
    FROM factTable f
    JOIN dimGuests g ON f.GuestID = g.GuestID
    GROUP BY g.VIPStatus;
""")


# Fetch all rows and print them
rows = cursor.fetchall()
for row in rows:
    print(row)

# Close the connection
conn.close()

('0', 291390.3)
('1', 290667.13)

2. Which country do most paying guests come from?

In [5]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('hmart.db')

# Create a cursor
cursor = conn.cursor()

# Execute the SQL query
cursor.execute("""
SELECT g.Country, COUNT(f.GuestID) AS NumberOfGuests, SUM(f.Revenue) AS TotalRevenue
FROM factTable f
JOIN dimGuests g ON f.GuestID = g.GuestID
GROUP BY g.Country
ORDER BY NumberOfGuests DESC
LIMIT 1;

""")


# Fetch all rows and print them
rows = cursor.fetchall()
for row in rows:
    print(row)

# Close the connection
conn.close()

('Congo', 45, 5635.17)

3. How much revenue is generated by additional services?

In [4]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('hmart.db')

# Create a cursor
cursor = conn.cursor()

# Execute the SQL query
cursor.execute("""
SELECT SUM(f.TotalServiceCost) AS TotalServiceRevenue
FROM factTable f;
""")

# Fetch all rows and print them
rows = cursor.fetchall()
for row in rows:
    print(row)

# Close the connection
conn.close()

(506488.13,)

4. What is the monthly revenue trend for the past year?

In [6]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('hmart.db')

# Create a cursor
cursor = conn.cursor()

# Execute the SQL query
cursor.execute("""
SELECT strftime('%Y-%m', p.PaymentDate) AS Month, SUM(f.Revenue) AS MonthlyRevenue
FROM factTable f
JOIN dimPayments p ON f.PaymentID = p.PaymentID
WHERE p.PaymentDate >= date('now', '-12 months')
GROUP BY strftime('%Y-%m', p.PaymentDate)
ORDER BY Month;

""")

# Fetch all rows and print them
rows = cursor.fetchall()
for row in rows:
    print(row)

# Close the connection
conn.close()

('2024-01', 118656.65)
('2024-02', 111368.22)
('2024-03', 124721.13)
('2024-04', 121300.08)
('2024-05', 101282.75)
('2024-06', 4728.6)

5. How much revenue is generated from guests with different stay durations?

In [2]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('hmart.db')

# Create a cursor
cursor = conn.cursor()

# Execute the SQL query
cursor.execute("""
SELECT 
    CASE 
        WHEN b.StayDuration BETWEEN 1 AND 3 THEN '1-3 days'
        WHEN b.StayDuration BETWEEN 4 AND 7 THEN '4-7 days'
        ELSE '8+ days'
    END AS StayDurationRange, 
    SUM(f.Revenue) AS TotalRevenue
FROM factTable f
JOIN dimBooking b ON f.BookingID = b.BookingID
GROUP BY StayDurationRange;


""")

# Fetch all rows and print them
rows = cursor.fetchall()
for row in rows:
    print(row)

# Close the connection
conn.close()

('1-3 days', 349002.31)
('4-7 days', 226826.54)

6. How much revenue is generated from guests with different stay durations?

In [8]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('hmart.db')

# Create a cursor
cursor = conn.cursor()

# Execute the SQL query
cursor.execute("""
SELECT p.PaymentMethod, COUNT(f.PaymentID) AS NumberOfPayments, SUM(f.AmountPaid) AS TotalPaid
FROM factTable f
JOIN dimPayments p ON f.PaymentID = p.PaymentID
GROUP BY p.PaymentMethod
ORDER BY NumberOfPayments DESC;


""")

# Fetch all rows and print them
rows = cursor.fetchall()
for row in rows:
    print(row)

# Close the connection
conn.close()

OperationalError: database is locked